<ion-view view-title="Camera" ng-init="setup()">
    <ion-content>
        <button onclick="capturePhoto();">Capture Photo</button> <br>
        <button onclick="capturePhotoEdit();">Capture Editable Photo</button> <br>
        <button onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>
        <button onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">From Photo Album</button><br>
        <img style="display:none;width:auto;height:auto;max-width: 100%" id="smallImage" src="" />
        <img style="display:none;max-width: 100%" id="largeImage" src="" />
    </ion-content>
</ion-view>
